In [4]:
import pandas as pd

df = pd.read_excel (r'./\uber_deliveryServiceDataset.xlsx')
print (df)

         Date  Hour  Requests  Completes  Supply Hours  Time On Trip  pETA  \
0  2013-09-01    11        79         55         42.63         20.43  5.51
1         NaT    12        73         41         36.43         15.53  5.48
2         NaT    13        54         50         23.02         17.76  5.07
3  2013-09-02    11       193        170         64.20         31.47  5.31
4         NaT    12       258        210         80.28         38.68  4.94
..        ...   ...       ...        ...           ...           ...   ...
85        NaT    12       378        306         99.07         52.02  5.75
86        NaT    13       321        149         76.90         30.55  5.86
87 2013-09-30    11       180        151         68.33         24.87  5.21
88        NaT    12       307        247         78.25         45.78  5.75
89        NaT    13       215        275         56.83         29.13  5.35

    aETA  Delivered Products  Total Products Available
0   7.19                 103                       159
1   8.48                   4                         8
2   8.94                   5                         9
3   6.55                 288                       414
4   6.08                   7                        65
..   ...                 ...                       ...
85  6.60                 147                       280
86  6.42                   6                        36
87  6.07                 317                       499
88  6.71                  60                       130
89  7.59                   2                         5

[90 rows x 10 columns]

In [8]:
df.iloc[3,:]

Date                        2013-09-02 00:00:00
Hour                                         11
Requests                                    193
Completes                                   170
Supply Hours                               64.2
Time On Trip                              31.47
pETA                                       5.31
aETA                                       6.55
Delivered Products                          288
Total Products Available                    414
Name: 3, dtype: object

In [11]:
df_ratio = df['Requests']/df['Completes']
df['ratio'] = df_ratio

In [16]:
df_11h = df[df['Hour'] == 11]
df_12h = df[df['Hour'] == 12]
df_13h = df[df['Hour'] == 13]

In [18]:
df_13h['ratio'].mean()

2.4115468507283326

In [19]:
df[df['Hour'] == 11].mean()

<ipython-input-19-7677dff0e33e>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df[df['Hour'] == 11].mean()

Hour                         11.000000
Requests                    200.266667
Completes                   151.666667
Supply Hours                 55.333667
Time On Trip                 25.617000
pETA                          5.397333
aETA                          6.611000
Delivered Products          289.233333
Total Products Available    407.166667
ratio                         1.479300
dtype: float64

In [20]:
df[df['Hour'] == 12].mean()

<ipython-input-20-fca385852124>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df[df['Hour'] == 12].mean()

Hour                         12.000000
Requests                    284.333333
Completes                   195.000000
Supply Hours                 60.601000
Time On Trip                 37.176000
pETA                          5.860000
aETA                          7.253333
Delivered Products           60.366667
Total Products Available    123.766667
ratio                         1.682015
dtype: float64

In [21]:
df[df['Hour'] == 13].mean()

<ipython-input-21-da1565de5e6d>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df[df['Hour'] == 13].mean()

Hour                         13.000000
Requests                    215.966667
Completes                   102.833333
Supply Hours                 42.486667
Time On Trip                 24.361000
pETA                          6.018333
aETA                          7.732667
Delivered Products           12.200000
Total Products Available     19.000000
ratio                         2.411547
dtype: float64

In [22]:
df2 = df.groupby('Date').sum()
df2.head()

,Hour,Requests,Completes,Supply Hours,Time On Trip,pETA,aETA,Delivered Products,Total Products Available,ratio
Date,,,,,,,,,,
2013-09-01,11,79,55,42.63,20.43,5.51,7.19,103,159,1.436364
2013-09-02,11,193,170,64.20,31.47,5.31,6.55,288,414,1.135294
2013-09-03,11,124,34,30.67,19.65,6.70,8.19,67,129,3.647059
2013-09-04,11,98,43,29.17,16.55,6.99,8.32,44,100,2.279070
2013-09-05,11,184,167,58.32,25.03,4.84,5.65,312,359,1.101796

In [32]:
df2_com_ratio = df2['Completes']/df2['Requests']

In [33]:
df2_com_ratio

Date
2013-09-01    0.696203
2013-09-02    0.880829
2013-09-03    0.274194
2013-09-04    0.438776
2013-09-05    0.907609
2013-09-06    0.883041
2013-09-07    0.871345
2013-09-08    0.807882
2013-09-09    0.727700
2013-09-10    0.897959
2013-09-11    0.248366
2013-09-12    0.837838
2013-09-13    0.888889
2013-09-14    0.788644
2013-09-15    0.837838
2013-09-16    0.860759
2013-09-17    0.840909
2013-09-18    0.658824
2013-09-19    0.609890
2013-09-20    0.746575
2013-09-21    0.810976
2013-09-22    0.879085
2013-09-23    0.775424
2013-09-24    0.622642
2013-09-25    0.902439
2013-09-26    0.521739
2013-09-27    0.819672
2013-09-28    0.863636
2013-09-29    0.794702
2013-09-30    0.838889
dtype: float64

In [34]:
df2_com_ratio.max()

0.907608695652174

In [40]:
df2.columns

Index(['Hour', 'Requests', 'Completes', 'Supply Hours', 'Time On Trip', 'pETA',
       'aETA', 'Delivered Products', 'Total Products Available', 'ratio'],
      dtype='object')

In [44]:
df2.rolling(3).sum()

,Hour,Requests,Completes,Supply Hours,Time On Trip,pETA,aETA,Delivered Products,Total Products Available,ratio
Date,,,,,,,,,,
2013-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-03,33.0,396.0,259.0,137.50,71.55,17.52,21.93,458.0,702.0,6.218717
2013-09-04,33.0,415.0,247.0,124.04,67.67,19.00,23.06,399.0,643.0,7.061423
2013-09-05,33.0,406.0,244.0,118.16,61.23,18.53,22.16,423.0,588.0,7.027925
2013-09-06,33.0,453.0,361.0,139.84,65.66,16.82,19.70,589.0,753.0,4.513317
2013-09-07,33.0,697.0,616.0,185.10,96.71,15.66,17.97,1073.0,1249.0,3.381898
2013-09-08,33.0,716.0,613.0,191.46,96.91,15.16,17.22,1158.0,1335.0,3.517906
2013-09-09,33.0,758.0,617.0,191.11,102.38,16.67,19.29,1269.0,1441.0,3.759649
2013-09-10,33.0,465.0,363.0,148.16,68.73,17.18,20.36,790.0,948.0,3.725635
2013-09-11,33.0,568.0,275.0,109.68,65.33,20.52,27.52,543.0,731.0,6.514146
2013-09-12,33.0,540.0,275.0,115.48,57.73,18.52,24.33,473.0,699.0,6.333501
2013-09-13,33.0,635.0,359.0,142.33,65.65,17.56,22.81,549.0,746.0,6.344864
2013-09-14,33.0,646.0,533.0,187.01,79.60,15.27,16.84,669.0,1059.0,3.586548
2013-09-15,33.0,683.0,564.0,181.83,85.93,16.20,18.26,816.0,1227.0,3.586548
2013-09-16,33.0,697.0,572.0,178.05,84.78,15.52,17.03,953.0,1418.0,3.623313
2013-09-17,33.0,424.0,359.0,149.30,61.61,15.05,16.96,732.0,993.0,3.544502
2013-09-18,33.0,287.0,229.0,140.63,49.15,15.01,17.40,356.0,565.0,3.868811
2013-09-19,33.0,493.0,315.0,135.53,65.48,16.36,20.59,621.0,876.0,4.346686
2013-09-20,33.0,741.0,496.0,166.80,81.09,16.23,20.55,1028.0,1340.0,4.496946
2013-09-21,33.0,984.0,706.0,199.95,105.75,15.97,20.30,1702.0,2216.0,4.212172
2013-09-22,33.0,926.0,753.0,245.83,103.26,14.32,17.46,1635.0,2350.0,3.710079
2013-09-23,33.0,870.0,718.0,239.43,104.79,14.59,17.68,1624.0,2380.0,3.660247
2013-09-24,33.0,595.0,485.0,193.16,77.03,15.84,19.03,990.0,1516.0,4.033225
2013-09-25,33.0,330.0,253.0,134.53,53.54,17.59,20.31,568.0,842.0,4.003786
2013-09-26,33.0,209.0,130.0,107.85,39.21,16.88,20.70,224.0,458.0,4.630835
2013-09-27,33.0,522.0,397.0,140.15,48.71,13.02,18.62,534.0,884.0,4.244775
2013-09-28,33.0,789.0,626.0,170.63,80.36,12.88,18.97,1090.0,1580.0,4.294561
2013-09-29,33.0,976.0,806.0,215.16,101.97,13.66,18.89,1568.0,2259.0,3.636228
2013-09-30,33.0,790.0,657.0,220.36,104.62,16.35,19.47,1490.0,2212.0,3.608281

In [47]:
df2.rolling(3).sum()['Delivered Products'].idxmax()

Timestamp('2013-09-21 00:00:00')

In [48]:
df2.rolling(3).sum()['Delivered Products']

Date
2013-09-01       NaN
2013-09-02       NaN
2013-09-03     458.0
2013-09-04     399.0
2013-09-05     423.0
2013-09-06     589.0
2013-09-07    1073.0
2013-09-08    1158.0
2013-09-09    1269.0
2013-09-10     790.0
2013-09-11     543.0
2013-09-12     473.0
2013-09-13     549.0
2013-09-14     669.0
2013-09-15     816.0
2013-09-16     953.0
2013-09-17     732.0
2013-09-18     356.0
2013-09-19     621.0
2013-09-20    1028.0
2013-09-21    1702.0
2013-09-22    1635.0
2013-09-23    1624.0
2013-09-24     990.0
2013-09-25     568.0
2013-09-26     224.0
2013-09-27     534.0
2013-09-28    1090.0
2013-09-29    1568.0
2013-09-30    1490.0
Name: Delivered Products, dtype: float64

In [49]:
df_last_hour = df[df['Hour'] == 13]
df_last_hour

,Date,Hour,Requests,Completes,Supply Hours,Time On Trip,pETA,aETA,Delivered Products,Total Products Available,ratio
2,NaT,13,54,50,23.02,17.76,5.07,8.94,5,9,1.080000
5,NaT,13,153,107,59.18,23.37,5.14,6.42,6,9,1.429907
8,NaT,13,36,15,20.82,12.62,7.82,9.05,4,5,2.400000
11,NaT,13,34,20,22.58,17.67,6.51,7.06,7,7,1.700000
14,NaT,13,264,109,43.83,29.68,7.27,8.25,9,9,2.422018
17,NaT,13,208,101,50.25,30.50,6.81,8.44,5,6,2.059406
20,NaT,13,532,340,59.02,39.57,7.83,8.90,3,3,1.564706
23,NaT,13,354,100,27.50,19.63,7.36,9.04,3,7,3.540000
26,NaT,13,372,120,29.12,23.03,7.06,8.15,4,9,3.100000
29,NaT,13,49,12,23.55,9.14,6.46,7.86,3,4,4.083333
32,NaT,13,170,50,11.25,10.18,7.47,7.88,4,6,3.400000
35,NaT,13,304,107,48.92,26.77,6.28,7.07,4,8,2.841121
38,NaT,13,483,60,29.68,12.22,6.06,7.23,5,2,8.050000
41,NaT,13,185,123,52.52,31.32,5.98,6.70,179,276,1.504065
44,NaT,13,273,121,37.43,36.32,8.05,10.57,6,8,2.256198
47,NaT,13,222,91,32.98,26.48,7.39,8.55,4,5,2.439560
50,NaT,13,26,12,18.53,10.75,5.48,7.69,7,8,2.166667
53,NaT,13,32,27,49.90,16.95,6.37,6.67,6,8,1.185185
56,NaT,13,290,161,51.85,39.18,5.69,7.70,45,51,1.801242
59,NaT,13,453,71,33.08,23.02,2.43,8.10,5,6,6.380282
62,NaT,13,323,156,71.85,35.37,3.94,6.95,5,19,2.070513
65,NaT,13,285,215,85.62,40.65,5.40,6.33,4,8,1.325581
68,NaT,13,242,130,48.73,37.62,6.92,9.60,6,8,1.861538
71,NaT,13,56,35,23.13,9.05,3.70,8.71,2,4,1.600000
74,NaT,13,15,6,27.93,15.76,5.39,6.13,5,6,2.500000
77,NaT,13,62,52,39.40,14.70,5.55,6.28,5,9,1.192308
80,NaT,13,233,130,59.62,31.67,5.22,7.33,9,17,1.792308
83,NaT,13,233,140,59.58,30.17,4.69,6.37,8,12,1.664286
86,NaT,13,321,149,76.90,30.55,5.86,6.42,6,36,2.154362
89,NaT,13,215,275,56.83,29.13,5.35,7.59,2,5,0.781818

In [51]:
df_last_hour.columns

Index(['Date', 'Hour', 'Requests', 'Completes', 'Supply Hours', 'Time On Trip',
       'pETA', 'aETA', 'Delivered Products', 'Total Products Available',
       'ratio'],
      dtype='object')

In [53]:
df_delivered = df_last_hour['Delivered Products']/df_last_hour['Total Products Available']
df_delivered.mean()

0.7283088992016844

In [55]:
# df[df['Hour'] == 11]['Delivered Products'].sum()+df[df['Hour'] == 12]+df[df['Hour'] == 13]

In [57]:
d_11 =df[df['Hour'] == 11]['Delivered Products'].sum()

In [58]:
d_12 =df[df['Hour'] == 12]['Delivered Products'].sum()

In [59]:
d_13 =df[df['Hour'] == 13]['Delivered Products'].sum()

In [60]:
d_13/(d_11+d_12+d_13)*100

3.3720287451630733

In [66]:
ord('U')-ord('V')

-1

In [67]:
ord('B')-ord('A')

1

In [68]:
ord('E')-ord('F')

-1

In [69]:
ord('R')-ord('Q')

1